---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpeg"
>
	<p>
	I am a passionate and driven computer science enthusiast exploring the
	depths of AI and machine learning. With a solid foundation in cognitive
	science, my curiosity for understanding intelligent systems led me to
	dive into machine learning algorithms, practical AI applications, and
	deep learning projects. I’ve developed strong skills in Python data
	analysis, and web development, working with tools like Pytorch, Numpy,
	and the Pandas.
	</p>
	<p>
	I’m continuously pushing the boundaries of my technical abilities
	through hands-on projects, such as building a deep learning lottery
	predictor and a PDF filtering software using Pandas. My problem-solving
	mindset is complemented by my interest in real-world applications, like
	developing software solutions for student organizations, and enhancing
	my expertise in C and MIPS assembly for coursework.
	</p>
	<p>
	Currently, I am focused on pursuing deeper knowledge in AI to further
	expand my technical expertise. My involvement in Formula Student
	projects has provided me with practical experience in collaborative,
	high-pressure environments, where I’ve contributed to developing
	efficient and innovative software solutions for autonomous systems.
	</p>
	<p>
	Outside of my academic pursuits, I am dedicated to my personal fitness,
	consistently hitting the gym and enjoying running. I’ve also taken on
	leadership roles, having acted as the captain of a badminton team. In my
	downtime, I love reading books across a wide range of genres, with a
	particular focus on productivity, psychology, and science fiction.
	</p>
	<h2>Skills</h2>
	<ul>
	<li>
		<strong>Programming Languages:</strong> Python, HTML/CSS, JavaScript,
		TypeScript, Java, C, C++, SQL, Haskell, MIPS
	</li>
	<li>
		<strong>Programming Skills:</strong> Git - version control, unit
		tests, RESTful APIs, Docker, Linux Command, OAuth2
	</li>
	<li>
		<strong>Scientific Library: </strong> Sckit-learn, Pytorch,
		Tensorflow, Numpy, Pandas, Matplotlib
	</li>
	<li>
		<strong>Personal Interests: </strong> Gym, Tennis, Badminton, Reading
	</li>
	</ul>
</Layout>
