---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://www.instagram.com/jacksuuuuu/" target="_blank">
        <!-- <span class="sr-only">Follow on Instagram</span> -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="26"
          height="26"
          viewBox="0 0 50 50"
        >
          <path
        fill="currentColor"
        d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.xiaohongshu.com/user/profile/5f9e96140000000001001a42"
        target="_blank"
      >
        <!-- <span class="sr-only">View on RedNotes</span> -->
        <img src="/red-note.svg" alt="Icon" width="26" height="26"/>
      </a>
      <a href="https://github.com/JackSuuu" target="_blank">
        <!-- <span class="sr-only">Go to JackSuuu's GitHub repo</span> -->
        <svg viewBox="0 0 16 16" aria-hidden="true" width="26" height="26"
          ><path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path></svg
        >
      </a>
      <a href="www.linkedin.com/in/jack-suuuu" target="_blank">
        <!-- <span class="sr-only">Connect on LinkedIn</span> -->
        <svg viewBox="0 0 448 512" aria-hidden="true" width="26" height="26">
          <path
            fill="currentColor"
            d="M100.28 448H7.4V149.2h92.88zm-46.44-340C24.27 108 0 83.73 0 53.72A53.71 53.71 0 0 1 53.72 0C83.73 0 108 24.27 108 53.72c0 30.01-24.27 54.28-54.16 54.28zM447.9 448h-92.4V302.4c0-34.7-12.4-58.4-43.3-58.4-23.6 0-37.6 15.9-43.7 31.3-2.3 5.5-2.9 13.1-2.9 20.8V448h-92.4s1.2-272.3 0-300.8h92.4v42.6c12.3-19 34.2-46.1 83.4-46.1 60.9 0 106.6 39.8 106.6 125.3z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: rgba(32, 34, 38, 0.435); /* More transparent background */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(24px); /* Increased blur effect */
    -webkit-backdrop-filter: blur(24px); /* For Safari support */
  }
  h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
  }
  nav a {
    padding: 0.5em;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s ease, transform 0.2s ease;
  }
  nav a:hover {
    color: rgba(255, 255, 255, 1);
    transform: translateY(-1px);
  }
  nav a.active {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  .social-links a {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.2s ease, transform 0.2s ease;
    margin-left: 0.5em;
  }
  .social-links a:hover {
    color: var(--accent);
    transform: translateY(-2px);
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
